[submodule "TheBlankOSL_LLM_Client"]
	path = TheBlankOSL_LLM_Client
	url = https://github.com/Vertex-Research/TheBlankOSL_LLM_Client
[submodule "TheBlankOSL_LLM_UI"]
	path = TheBlankOSL_LLM_UI
	url = https://github.com/Vertex-Research/TheBlankOSL_UI
